
<!-- <div class="list-post">
<app-post class="post" [myPost]="post1"></app-post>
<app-post class="post" [myPost]="post2"></app-post>
<app-post class="post" [myPost]="post3"></app-post>
<app-post class="post" [myPost]="post4"></app-post>
</div> -->

<!-- <div class="list-post">
@for(item of myPosts; track $index){
    <app-post class="post" [myPost]="item" [ngClass]="{ 'posted': item.like > 10, 'coeur': item.like > 50 }"></app-post>
    
}

</div> -->
<app-header></app-header>

<!-- <app-list-posts></app-list-posts> -->
<router-outlet></router-outlet>


