<div class="header">
    <!-- <h1>logo roarbikes</h1> -->
    <img src="../../assets/images/logo-roar-bikes.svg" alt="logo roarbikes" routerLink="">
    <div class="links">
        <a class="button" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="#" >Book Online</a>
        <a class="button"  routerLinkActive="active" routerLink="#"  >About</a>
        <a class="button"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="contact" >Contact</a> 
    </div>
</div>
