<form (ngSubmit)="filterPosts()">
    <input [(ngModel)]="searchTerm" type="text" name="search" placeholder="Recherche un post ">
    <button type="submit">Rechercher</button>
</form>

<div class="list-post">
    <div class="grid-container">
            <ng-container *ngFor="let post of filteredPosts$ | async" >
            <app-admin-post class="post"  [myPost]="post" (postDeleted)="onPostDeleted()" (postEdited)="onPostEdited()">
            </app-admin-post>
        </ng-container>
    </div>
</div>
